eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8010/eureka/
    registerWithEureka: true
    fetchRegistry: true

spring:
  application:
    name: GATEWAY_YML
  cloud:
    gateway:
      routes:
        - id: sentence_route
          uri: lb://SENTENCE
          predicates:
          - Path=/sentence-service/**
          filters:
          - name: Hystrix
            args:
              name: fallbackcmd
              fallbackUri: forward:/fallback
          - RewritePath=/sentence-service/(?<segment>.*), /$\{segment}
          - name: Retry
            args:
              retries: 3

# keep it here for now as temp
server:
  port: 8081
